@(page: String)(implicit l: models.ev.I18nLanguage)

@import models.ev._

@main(page) {
   <div class="row">
     <div class='span12'>
       <div class="row lowerHomePage">
       
       <h2>Le vote par score proportionnel mixte</h2>
       <br>
       Le <b>vote par score proportionnel mixte</b> est calqué sur le <b>scrutin proportionnel mixte</b>
       en vigueur dans plusieurs pays (dont l'Allemagne et la Nouvelle Zélande).
       <br>
       <br>
       
       Expliquons d'abord le scrutin proportionnel mixte "standard" :
       <br><br>
       <ul>
        <li>1) Environs deux tiers des sièges parlementaires sont rattachés à un comté, et un tiers des sièges servent à assurer la proportionnalité.</li> 
       
         <li>2) L'électeur remplit deux bulletins de vote
          <ul>
            <li>i) pour le candidat de son choix dans son comté</li>
            <li>ii) pour le parti de son choix au niveau national</li>
          </ul>
         </li>
         
         <li>3) Les sièges de comtés sont attribués à partir des votes de comtés selon la règle de la majorité 
          simple (non proportionnelle)</li> 
          
         <li>4) Les bulletins de vote de partis sont comptabilisés, et les sièges compensatoires sont attribués de façon 
         à "compenser" les partis qui ont un pourcentage de sièges inférieur au pourcentage de
         vote "de partis" reçus. C'est cette étape qui assure la proportionnalité.</li>
       </ul>
 
         La procédure du vote par score proportionnel mixte est essentiellement la même,
         les deux bulletins uninominaux (de comté et de parti) sont remplacés par des bulletins de vote 
         par valeur, et les étapes 3 et 4 diffèrent :
         <br>
         <br>
         
        <ul>
         <li>3) Les sièges de comtés sont attribués par un vote par score (au lieu du vote uninominal majoritaire)</li>

         <li>4) Les votes de partis (par score) sont comptabilisés pour obtenir le nombre total de sièges "cible"
          que devrait recevoir chaque parti. La formule pour comptabiliser les votes de partis est la suivante :
            <ul>
              <li>a) chaque bulletin a un poids initial de 1</li>
              <li>b) les scores de chaque bulletin sont pondérés par leur poids respectifs, somme des scores pondérés est calculé pour chaque parti</li>
              <li>c) le parti ayant la somme des scores pondérés obtient un siège</li>
              <li>d) les poids de chaque bulletin sont recalculés par la formule : 
                      <img src='/assets/images/generalized-rrv-weight-equation.png'> <br>
                      où : <br>
                      <ul>
                        <li>N est le nombre de partis</li>
                        <li>score(i) est le score du ième parti sur le bulletin</li>
                        <li>p(i) est le nombre de sièges déjà attribué à ce parti</li>
                      </ul>
              </li>
              <li>e) on répète les étabes b à d autant de fois qu'il y a de sièges territoriaux et compenstoires à combler</li>
            </ul>
            
            Cette formule de répartition est <b>proportionnelle</b> à cause de la propriété suivante : si une faction constituant X% de l'électorat le souhaite, elle peut 
            élire un pourcentage de candidats égal ou supérieur à X%, en leur donnant le score maximal, et en donnant le score minimal aux autres.
            <br>  
            <a href='http://rangevoting.org/RRV.html'>http://rangevoting.org/RRV.html</a>
         </li>
        </ul>

       </div>
     </div>
   </div>
}
