@(implicit l: I18nLanguage)
    
@js(p: String) = {<script src='/assets/javascripts/@p'  type="text/javascript"></script>}


@js("jquery-1.7.2.js")
@js("bootstrap.js")

 <script>

  $('.readMore').each(function(i, e) {
    var z = $(e)
    var m = z.next()
    var f = function() {
      if(m.hasClass('moreToReadHide')) {
        z.text('').append('<br/>')
        m.removeClass('moreToReadHide')
      }
      else {
        z.text('...»')
        m.addClass('moreToReadHide')
      }
    }
    z.parent().parent().click(f)
    f()
  })

  $('.collapse').on('shown', function(ev) {
    $(ev.currentTarget).parent().find('h3').addClass('active')
  })

  $('.collapse').on('hidden', function(ev) {
    $(ev.currentTarget).parent().find('h3').removeClass('active')
  })

  $('#va').popover({
    title: "Vote par approbation",
    content: "Vote ..."
  })

  $('#uninominalSystem').popover({
    title: '@(Defs.uninominalSystem.!.title)',
    content: '@(Defs.uninominalSystem.!.jsContent)'
  })

  function toggle(b, isChecked) {
     var contrib = b.parent().parent().find("[contrib]")
     if(isChecked) {
       b.html($('<i class="icon-ok"></i>'))
       contrib.html('<span>+1</span>')
     }
     else {
       b.html('')
       contrib.html('<span>&nbsp;&nbsp;0</span>')
     }
  }

  $("a[avscore]").each(function(i,e) {
    var b = $(e)
    
    var check = b.attr('avscore') == "1"
    if(check) b.button('toggle')
    
  })
  
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/@(CR.fbLang.!)/all.js#xfbml=1&appId=389821127720437";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>