@(implicit l: models.ev.I18nLanguage)

@import models.ev._
    
    
@js(p: String) = {<script src='/assets/javascripts/@p'  type="text/javascript"></script>}


@js("jquery-1.7.2.js")
@js("bootstrap.js")

 <script>

   var za = "ma" /* .... !!! spamerz ?*/
   za += "ilto" /* ..#@@ crétins...*/
   za += ":" // : !4!?
   za += "maxime"
   za += "."
   za += "leves"
   za += "que"
   za += '@@' //@@
   za += "gm"
   za += "ail."
   za += "com" //mon ! 

  $('#kontaktz0').hover(function() {
    $('#kontaktz0').attr('href', za)
  })

  $('#kontaktz1').hover(function() {
    $('#kontaktz1').attr('href', za)
  })  
 
  $('#swFrz').click(function(ev) {
    var u = window.location + ''
    u = u.split('/')
    
    if(u.length == 0) return
    
    ev.preventDefault()
    
    var last = u[u.length -1]
    debugger
    if(last == 'en' || last == 'fr') {
    
      return
    }
    
  })

  $('.readMore').each(function(i, e) {
    var z = $(e)
    var m = z.next()
    var f = function() {
      if(m.hasClass('moreToReadHide')) {
        z.text('').append('<br/>')
        m.removeClass('moreToReadHide')
      }
      else {
        z.text('...»')
        m.addClass('moreToReadHide')
      }
    }
    z.parent().parent().click(f)
    f()
  })

  $('.collapse').on('shown', function(ev) {
    $(ev.currentTarget).parent().find('h3').addClass('active')
  })

  $('.collapse').on('hidden', function(ev) {
    $(ev.currentTarget).parent().find('h3').removeClass('active')
  })

  $('#va').popover({
    title: "Vote par approbation",
    content: "Vote ..."
  })

  $('#uninominalSystem').popover({
    title: '@(Defs.uninominalSystem.!.title)',
    content: '@(Defs.uninominalSystem.!.jsContent)'
  })

  function toggle(b, isChecked) {
     var contrib = b.parent().parent().find("[contrib]")
     if(isChecked) {
       b.html($('<i class="icon-ok"></i>'))
       contrib.html('<span>+1</span>')
     }
     else {
       b.html('')
       contrib.html('<span>&nbsp;&nbsp;0</span>')
     }
  }

  $("a[avscore]").each(function(i,e) {
    var b = $(e)
    
    var check = b.attr('avscore') == "1"
    if(check) b.button('toggle')
    
  })
  
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/@(Main.fbLang.!)/all.js#xfbml=1&appId=389821127720437";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32874750-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>