@(page: String)(implicit l: models.ev.I18nLanguage)

@import models.ev._

@main(page) {
   <div class="row">
   
   <h2>Comment s'impliquer ?</h2>

   <ul>
     <li>
       <h3>Aimez note page Facebook, ou suivez nous sur Twitter</h3>
       <a target='_blank' href='http://facebook.com/equivote'>http://facebook.com/equivote</a><br>
       <a target='_blank' href='http://twitter.com/equivote'>http://twitter.com/equivote</a><br>

       Cela permet de recevoir des communiqués, et articles que vous pourrez partager 
     </li>
     
     <li>
       <h3>Utilisez le vote par valeur ou le vote par approbation dans les organisations dont vous faites parti</h3>
       De nombreuses organisations organisent des votes pour toutes sortes de raisons (élire des chefs, représentants, prendre une décision, etc...), 
       utiliser un scrutin de type évaluatif est une excellente façon de le faire connaître.
     </li>
     
     <li>
       <h3>Diffuser des lien vers ce site dans les médias sociaux</h3>
       Surtout lors de discussions sur notre mode de scrutin "démocratiquement infect", et à plus forte raison 
       en période électorale. À chaque élection où il y a une forte probabilité qu'une minorité élise un
       gouvernement, l'idée d'une réforme du mode de scrutin s'impose d'elle même comme étant incontournable, 
       il faut par contre amorcer une réflexion sur quel type de scrutin adopter.
     </li>
     
     <li>
       <h3>Organisez des conférences sur le sujet</h3>
       Pour organiser une conférence contacter <a target='_blank' id='kontaktz1'>Maxime Lévesque</a>
     </li>
   </ul>

   </div>
}
