
<script id="rowT" type="text/x-handlebars-template">
  <div class='row'>
    <div class='control-group'>
        <label class="control-label">{{label}}</label>
        <div class="controls">
          {{content}}
          <span class="help-inline"></span>
        </div>
    </div>
  </div>
</script>

<script id="choiceTemplate" type="text/x-handlebars-template">
  <input type="text" value="{{text}}"/><i class="icon-remove"></i>
</script>

<script id="decisionViewTemplate" type="text/x-handlebars-template">
  <form class="form-horizontal">

    {{# applyTemplate "rowT" label="Title"}}
      <input name='title' type="text" value="{{title}}" placeholder="What is the decision about ?"/>
    {{/ applyTemplate}}

    {{# applyTemplate "rowT" label="Choices"}}
      <div id="choiceList">
          <input type="text" placeholder="Enter choices"></input>
          <ul></ul>
      </div>          ​
    {{/ applyTemplate}}

    {{# applyTemplate "rowT" label="Election ends"}}
      <div class="btn-group" data-toggle="buttons-radio">
        <a button class="btn" id='toggleEndsWhenComplete'> when every one has voted</a>
        <a button class="btn" id='toggleEndsAt'> at fixed date time</a>
      </div>
    {{/ applyTemplate}}

    <div id='endTime'>
       {{# applyTemplate "rowT" label="Ends Time"}}
         <div data-provide='datetimepicker'></div>
       {{/ applyTemplate}}
    </div>

    {{# applyTemplate "rowT" label="Email Invitations"}}
      <textarea name='emailInvitations' class='input-xlarge' type="textarea"></textarea>
      <a id='sendEmailInvitations'>Send email invitations</a>
    {{/ applyTemplate}}

  </form>
</script>
<!--
    {{# applyTemplate "rowT" label="Description"}}
      <textarea name='summary' class='input-xlarge' type="textarea"></textarea>
    {{/ applyTemplate}}
-->



<script id="choiceTemplate" type="text/x-handlebars-template">
  <input type="text" value="{{title}}"/><i class="icon-remove"></i>'
</script>

<script id="decisionEditorTemplate" type="text/x-handlebars-template">
  <div>
    <div class="tab-pane active" id="adminTab"></div>
    <div class="tab-pane" id="participantsTab"></div>
  </div>
</script>

<script id="participantTabTemplate" type="text/x-handlebars-template">
   <button id='fbConnect' class="btn" data-toggle="button">Facebook</button>
   <button id='inviteFromFB' class="btn">Invite participants from Facebook</button>
   <div>
     <ul></ul>
   </div>
</script>


<script id="fbParticipantTemplate" type="text/x-handlebars-template">
  <div class='span1'>
    <img src='https://graph.facebook.com/{{facebookId}}/picture?type=square'>
    <h4>{{displayName}}</h4> 
    {{# ifNot accepted}} <i>(Unconfirmed)</i> {{/ ifNot}}
  </div>
</script>
