
<script id="voteTemplate" type="text/x-handlebars-template">

   <div class='avballot'>
     <div>
       <h2>Vote on : {{this.decisionTitle}}</h2>
       <p>Mark your level of approbation for each candidate, <br> 
          -2: strongly disapprove, -1 disapprove, 0: neutral, 1: approve, 2: strongly approve
       </p>
     </div>
     <div>
       <ul>
         {{# each scores}}
            <li>
              <span>{{this.title}}</span>
              <div class="btn-group" data-toggle="buttons-radio">
                <a altId='{{this.alternativeId}}' score= '-2' class='btn'>-2</a>
                <a altId='{{this.alternativeId}}' score= '-1' class='btn'>-1</a>
                <a altId='{{this.alternativeId}}' score= '0' class='btn'>0</a>
                <a altId='{{this.alternativeId}}' score= '1' class='btn'>1</a>
                <a altId='{{this.alternativeId}}' score= '2' class='btn'>2</a>
              </div>
            </li>
         {{/ each}}
       </ul>
     </div>
   </div>

</script>
