
<script id="voteTemplate" type="text/x-handlebars-template">

   <div class='avballot'>
     <div>
       <span>Vote on : {{this.decisionTitle}}</span><br>
       <span>Mark your level of approbation for each candidate, <br> 
          -2: strongly disapprove, -1 disapprove, 0: neutral, 1: approve, 2: strongly approve
       </span>
     </div>
     <div>
       <ul>
         {{# each scores}}
            <li>
              <span>{{this.title}}</span>
              <div class="btn-group" data-toggle="buttons-radio">
                <a altId='{{this.alternativeId}}' score= '-2' class='ap1 btn'>-2</a>
                <a altId='{{this.alternativeId}}' score= '-1' class='ap2 btn'>-1</a>
                <a altId='{{this.alternativeId}}' score= '0' class='ap3 btn'>0</a>
                <a altId='{{this.alternativeId}}' score= '1' class='ap4 btn'>1</a>
                <a altId='{{this.alternativeId}}' score= '2' class='ap5 btn'>2</a>
              </div>
            </li>
         {{/ each}}
       </ul>
     </div>
   </div>

</script>

<script id="invitationForUnauthorizedTemplate" type="text/x-handlebars-template">
  <div>
    <h4>
      Hi, you have been invited by 
       <img src='https://graph.facebook.com/{{appReqInfo.from.id}}/picture'/>
       <a target='blank' href='https://facebook.com/{{appReqInfo.from.id}}'>{{appReqInfo.from.name}}</a> <br>
       to vote on {{decisionTitle}}
    </h4>
      <a id='authorizeApp' class='btn'>Accept</a>
      <a class='btn'>Dismiss</a>
  </div>
</script>


<!-- 
    title: String, 
    owner: ParticipantDisplay,
    ownerId: Long,
    numberOfVoters: Long,
    numberOfVotesExercised: Long,
    results: Option[Seq[FinalScore]]
-->

<script id="decisionPanelTemplate" type="text/x-handlebars-template">
  <div class='rvElectionResults'>
     <div>
       <h2>Decision : {{title}}</h2><br>
       {{numberOfVoters}} participants<br>
       {{numberOfVotesExercised}} have voted<br>
     </div>
     <div>
      {{#if results}}
         <table>
             <tr>
               <td></td>
               <td></td>
               <td>
                 <div class="scoreGradientBar"></div>
               </td>
             </tr>
           {{# each results}}
                <tr>
                  <td>{{title}}</td>
                  <td>
                    <div class="scoreBar">
                       <div class="scoreBadge" style="background-color:{{rgbColor}}; color:{{scoreColor}};">{{score}}</div></td>
                    </div>
                  <td>
                    <div class="scoreBar">
                       <div class="scoreTic" style="margin-left:{{pos}}%; background-color:{{rgbColor}}; color:{{scoreColor}};"></div>
                    </div>
                  </td>
                </tr>
          {{/ each}}
         </table>
       {{else}}
         <h2>Decision in progress</h2>
       {{/if}}
     </div>
  </div>
</script>
