
<script id="rowT" type="text/x-handlebars-template">
  <div class='row'>
    <div class='control-group'>
        <label class="control-label">{{label}}</label>
        <div class="controls">
          {{content}}
          <span class="help-inline"></span>
        </div>
    </div>
  </div>
</script>

<script id="choiceTemplate" type="text/x-handlebars-template">
  <input type="text" value="{{text}}"/><i class="icon-remove"></i>
</script>

<script id="decisionViewTemplate" type="text/x-handlebars-template">
  <form class="form-horizontal">

    {{# applyTemplate "rowT" label="Title"}}
      <input name='title' type="text" value="{{title}}" placeholder="What is the decision about ?"/>
    {{/ applyTemplate}}

    {{# applyTemplate "rowT" label="Choices"}}
      <div id="choiceList"></div>          ​
    {{/ applyTemplate}}

    {{# applyTemplate "rowT" label="Election ends"}}
      <div class="btn-group" data-toggle="buttons-radio">
        <a button class="btn" id='toggleEndsWhenComplete'> when every one has voted</a>
        <a button class="btn" id='toggleEndsAt'> at fixed date time</a>
      </div>
    {{/ applyTemplate}}

    <div id='endTime'>
       {{# applyTemplate "rowT" label="Ends Time"}}
         <div data-provide='datetimepicker'></div>
       {{/ applyTemplate}}
    </div>

    {{# applyTemplate "rowT" label="Email Invitations"}}
      <textarea name='emailInvitations' class='input-xlarge' type="textarea"></textarea>
      <a id='sendEmailInvitations'>Send email invitations</a>
    {{/ applyTemplate}}

  </form>
</script>
<!--

                <div class="tab-pane" id="step3">
                  <h3>When does voting end ?</h3>
                  
                    <p>As the administrator of this vote, you can end it at any time, you will
                      ideally wait that eveyone has voted. You can also set it to terminate 
                      at a specific time and date.</p>
                    <p>Note : results of the vote are not shown until it has ended.</p>

                    <ul>
                      <li><a class='btn active'>You control the end.</a></li>
                      <li><a  class='btn'>Ends at specific time</a></li>
                    </ul>
                    
                    <p>You can change this later.</p>
                  
                  <a goto='#step4' class='btn'>Next</a>
                </div>
    {{# applyTemplate "rowT" label="Description"}}
      <textarea name='summary' class='input-xlarge' type="textarea"></textarea>
    {{/ applyTemplate}}
-->



<script id="choiceTemplate" type="text/x-handlebars-template">
  <input type="text" value="{{title}}"/><i class="icon-remove"></i>'
</script>

<script id="decisionEditorTemplate" type="text/x-handlebars-template">
  <div>
    <div class="tab-pane active" id="adminTab"></div>
    <div class="tab-pane" id="participantsTab"></div>
  </div>
</script>

<script id="participantTabTemplate" type="text/x-handlebars-template">
   <button id='fbConnect' class="btn" data-toggle="button">Facebook</button>
   <button id='inviteFromFB' class="btn">Invite participants from Facebook</button>
   <div>
     <ul></ul>
   </div>
</script>


<script id="fbParticipantTemplate" type="text/x-handlebars-template">
  <div class='span1'>
    <img src='https://graph.facebook.com/{{facebookId}}/picture?type=square'>
    <h4>{{displayName}}</h4> 
    {{# ifNot accepted}} <i>(Unconfirmed)</i> {{/ ifNot}}
  </div>
</script>

<script id="createDecisionWizardTemplate" type="text/x-handlebars-template">

      <div id="createDecisionWizard" class="modal hide">
        <div class="modal-header">
          <button id='closeWizard' class="close" data-dismiss="modal">×</button>
          <h3>Create Decision</h3></div>
        <div class="modal-body">

            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#step1" data-toggle="tab">The decision</a></li>
                <li>
                  <a href="#step2" data-toggle="tab">Voter registration</a></li>
                <li>
                  <a href="#step3-private" data-toggle="tab">Link to external account</a></li>
                <li>
                  <a href="#step3-public" data-toggle="tab">Confirm</a></li>
                <li>
                  <a href="#step4-private" data-toggle="tab">Confirm</a></li>
              </ul>
              <div class="tab-content">

                <div class="tab-pane active" id="step1">
                  <h3>What is the decision about ?</h3>
                  <p>Enter a title and choices for the decision</p>
                  <form class="form-horizontal">

                      {{# applyTemplate "rowT" label="Title"}}
                         <input name='title' type="text" placeholder="ex: Who's the Master of the Universe ?"/>
                      {{/ applyTemplate}}

                      {{# applyTemplate "rowT" label="Choices"}}
                         <div id='choiceList'></div>
                      {{/ applyTemplate}}

                  </form>
                  <a goto='#step2' class='btn'>Next</a>
                </div>

                <div class="tab-pane" id="step2">
                  <h3>Will the vote be public or private ?</h3>

                  <ul>
                    <li><a id='registrationPublic' class='btn active'>Public</a>
                      Anyone has this link : http://equivote.net/Y8e8ksK7__g2SYyYx2bkq5
                      will be able to register and vote.
                    </li>
                    <li><a id='registrationPrivate' class='btn'>Private</a> 
                      Voters need to receive an invitation from you in order to register and vote.
                      Invitations will be sent to their Facebook or Email account on
                      your behalf.
                    </li>
                  </ul>

                  <a id='step3' class='btn'>Next</a>
                </div>

                <div class="tab-pane" id="step3-private">

                  <h3>Link to email or Facebook account</h3>

                    <p>For a private vote, you need to supply an email address,
                       <b>or</b> sign in to Facebook and authorize this application.</p>

                    <div class="accordion">
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class='btn' href="#linkToFacebook">Link to Facebook</a>
                        </div>
                         <div id="linkToFacebook" class="accordion-body">
                           <div class="accordion-inner">
                             <div class='control-group'>
                                 <label class="control-label">Login to Facebook</label>
                                 <div class="controls">
                                   <a id='enableFacebook' class='btn'>FB</a>
                                 </div>
                             </div>
                           </div>
                         </div>
                       </div>

                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class='btn' href="#linkToEmail">Link to Email</a>
                        </div>
                         <div id="linkToEmail" class="accordion-body">
                           <div class="accordion-inner">
                             <div class='control-group'>
                                 <label class="control-label">Your email address (you will receive a confirmation request and an administrative link to this decision by email)</label>
                                 <div class="controls">
                                   <input id='ownerEmail' type='text' placeholder='bob@@abc.xyz'> <input id='ownerName' type='text' placeholder='Bob'>
                                 </div>
                             </div>
                           </div>
                         </div>
                       </div>
                  </div>

                  <a goto='#step4-private' class='btn'>Next</a>
                </div>

                <div class="tab-pane" id="step4-private">
                  <h3>Confirm</h3>

                  The decision X will be tied to your Y account.
                  
                  <span class='confirmationMessage'></span>

                  <div><a id='confirm-private' class='btn'>Proceed to sending invitations</a></div>
                </div>

                <div class="tab-pane" id="step3-public">
                  <h3>Confirm</h3>
                  
                  <input id='publicName' type='text'/>

                  You can administer the decision X by this link <br>

                  http://equivote.net/npuhXEdlBmf1MYl3cX7PF4  (don't share this link !) <br>

                  Anyone who receives this link : <br>
                  http://equivote.net/Y8e8ksK7__g2SYyYx2bkq5<br>

                  Can register and vote.

                  <div><a id='confirm-public' class='btn'>Proceed to sending invitations</a></div>
                </div>

              </div>
            </div>

        </div>
        <div class="modal-footer"></div>
      </div>

</script>





<script id="decisionWidgetTemplate" type="text/x-handlebars-template">

     <div class="tabbable">
       <ul class="nav nav-tabs">
         <li class="active">
           <a href="#decisionPublicView" data-toggle="tab">Decision</a></li>
         <li>
           <a href="#settings" data-toggle="tab">Settings</a><i class='icon-wrench'></i></li>
       </ul>
       <div class="tab-content">
         <div class="tab-pane active" id="decisionPublicView">
           <a id='voteButton' class='btn'>Vote</a>
         </div>
         <div class="tab-pane" id="settings">
         </div>
       </div>
     </div>

</script>


<script id="voteTemplate" type="text/x-handlebars-template">

      <div id="votePanel" class="modal hide">
        <div class="modal-header"></div>
        <div class="modal-body">

          <div class='avballot'>
            <div>
              <span>Vote on : {{this.decisionTitle}}</span><br>
              <span>Mark your level of approbation for each candidate, <br> 
                 -2: strongly disapprove, -1 disapprove, 0: neutral, 1: approve, 2: strongly approve
              </span>
            </div>
            <div>
              <ul>
                {{# each scores}}
                   <li>
                     <span>{{this.title}}</span>
                     <div class="btn-group" data-toggle="buttons-radio">
                       <a altId='{{this.alternativeId}}' score= '-2' class='ap1 btn'>-2</a>
                       <a altId='{{this.alternativeId}}' score= '-1' class='ap2 btn'>-1</a>
                       <a altId='{{this.alternativeId}}' score= '0' class='ap3 btn'>0</a>
                       <a altId='{{this.alternativeId}}' score= '1' class='ap4 btn'>1</a>
                       <a altId='{{this.alternativeId}}' score= '2' class='ap5 btn'>2</a>
                     </div>
                   </li>
                {{/ each}}
              </ul>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a id='submitVote' class='btn'>Submit my vote</a>
          <a id='close' class='btn'>Close, I'll vote later</a>
        </div>
      </div>
</script>

<script id="invitationForUnauthorizedTemplate" type="text/x-handlebars-template">
  <div>
    <h4>
      Hi, you have been invited by 
       <img src='https://graph.facebook.com/{{appReqInfo.from.id}}/picture'/>
       <a target='blank' href='https://facebook.com/{{appReqInfo.from.id}}'>{{appReqInfo.from.name}}</a> <br>
       to vote on {{decisionTitle}}
    </h4>
      <a id='authorizeApp' class='btn'>Accept</a>
      <a class='btn'>Dismiss</a>
  </div>
</script>


<!-- 
    title: String, 
    owner: ParticipantDisplay,
    ownerId: Long,
    numberOfVoters: Long,
    numberOfVotesExercised: Long,
    results: Option[Seq[FinalScore]]
-->

<script id="decisionPanelTemplate" type="text/x-handlebars-template">

  <div class='rvElectionResults'>
     <div>
       <h2>Decision : {{title}}</h2><br>
       
       <div class='span1'>
         <img src='https://graph.facebook.com/{{owner.facebookId}}/picture?type=square'>
         Owner : {{owner.displayName}}
       </div>
       
       {{#if viewerHasVoted}}You have voted{{/if}}
       {{#if viewerCanVote}}<a class='btn' id='voteNow'>Vote</a>{{/if}}

       {{numberOfVoters}} participants<br>
       {{numberOfVotesExercised}} have voted<br>
     </div>
     <div>
      {{#if results}}
         <table>
             <tr>
               <td></td>
               <td></td>
               <td>
                 <div class="scoreGradientBar"></div>
               </td>
             </tr>
           {{# each results}}
                <tr>
                  <td>{{title}}</td>
                  <td>
                    <div class="scoreBar">
                       <div class="scoreBadge" style="background-color:{{rgbColor}}; color:{{scoreColor}};">{{score}}</div></td>
                    </div>
                  <td>
                    <div class="scoreBar">
                       <div class="scoreTic" style="margin-left:{{pos}}%; background-color:{{rgbColor}}; color:{{scoreColor}};"></div>
                    </div>
                  </td>
                </tr>
          {{/ each}}
         </table>
       {{else}}
         <h2>Decision in progress</h2>
       {{/if}}
     </div>
  </div>

</script>
