
<script id="rowT" type="text/x-handlebars-template">
  <div class='row'>
    <div class='control-group'>
        <label class="control-label">{{label}}</label>
        <div class="controls">
          {{content}}
          <span class="help-inline"></span>
        </div>
    </div>
  </div>
</script>

<script id="choiceTemplate" type="text/x-handlebars-template">
  <input type="text" value="{{text}}"/><i class="icon-remove"></i>
</script>

<script id="decisionViewTemplate" type="text/x-handlebars-template">
  <form class="form-horizontal">

    {{# applyTemplate "rowT" label="Title"}}
      <input name='title' type="text" value="{{title}}" placeholder="What is the decision about ?"/>
    {{/ applyTemplate}}

    {{# applyTemplate "rowT" label="Choices"}}
      <div id="choiceList">
          <input type="text" placeholder="Enter choices"></input>
          <ul></ul>
      </div>          ​
    {{/ applyTemplate}}

    {{# applyTemplate "rowT" label="Election ends"}}
      <div class="btn-group" data-toggle="buttons-radio">
        <a button class="btn" id='toggleEndsWhenComplete'> when every one has voted</a>
        <a button class="btn" id='toggleEndsAt'> at fixed date time</a>
      </div>
    {{/ applyTemplate}}

    <div id='endTime'>
       {{# applyTemplate "rowT" label="Ends Time"}}
         <div data-provide='datetimepicker'></div>
       {{/ applyTemplate}}
    </div>

    {{# applyTemplate "rowT" label="Email Invitations"}}
      <textarea name='emailInvitations' class='input-xlarge' type="textarea"></textarea>
      <a id='sendEmailInvitations'>Send email invitations</a>
    {{/ applyTemplate}}

  </form>
</script>
<!--
    {{# applyTemplate "rowT" label="Description"}}
      <textarea name='summary' class='input-xlarge' type="textarea"></textarea>
    {{/ applyTemplate}}
-->



<script id="choiceTemplate" type="text/x-handlebars-template">
  <input type="text" value="{{title}}"/><i class="icon-remove"></i>'
</script>

<script id="decisionEditorTemplate" type="text/x-handlebars-template">
  <div>
    <div class="tab-pane active" id="adminTab"></div>
    <div class="tab-pane" id="participantsTab"></div>
  </div>
</script>

<script id="participantTabTemplate" type="text/x-handlebars-template">
   <button id='fbConnect' class="btn" data-toggle="button">Facebook</button>
   <button id='inviteFromFB' class="btn">Invite participants from Facebook</button>
   <div>
     <ul></ul>
   </div>
</script>


<script id="fbParticipantTemplate" type="text/x-handlebars-template">
  <div class='span1'>
    <img src='https://graph.facebook.com/{{facebookId}}/picture?type=square'>
    <h4>{{displayName}}</h4> 
    {{# ifNot accepted}} <i>(Unconfirmed)</i> {{/ ifNot}}
  </div>
</script>

<script id="createDecisionWizardTemplate" type="text/x-handlebars-template">

      <div id="createDecisionWizard" class="modal hide">
        <div class="modal-header">
          <button id='closeWizard' class="close" data-dismiss="modal">×</button>
          <h3>Create Decision</h3></div>
        <div class="modal-body">

            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#decisionTitle" data-toggle="tab">Decision Title</a></li>
                <li>
                  <a href="#choices" data-toggle="tab">Choices</a></li>
                <li>
                  <a href="#participants" data-toggle="tab">Participants</a></li>
                <li>
                  <a href="#finish" data-toggle="tab">Finish</a></li>
              </ul>
              <div class="tab-content">
                <div class="wizardStep tab-pane active" id="decisionTitle">
                  <h2>Enter the title of the decision</h2>
                  <div>
                    <input name='title' type="text" placeholder="ex: Who's the Master of the Universe ?"/>
                  </div>
                  <a id='nextChoices' class='btn'>Next</a>
                </div>
                <div class="tab-pane" id="choices">
                  <h2>Enter choices for the decision</h2>
                  <div id='choiceList'></div>
                  <div><a id='nextParticipants' class='btn'>Next</a></div>
                </div>
                <div class="tab-pane" id="participants">
                  <h2>Invite Participants to vote on the decision</h2>
                  <div id='participantsList'></div>
                  <a id='nextFinish' class='btn'>Next</a></div>
                <div class="tab-pane" id="finish">
                  <h2>You're done</h2>
                  <div>
                    <a id='startVoting' class='btn'>Allow voting to begin</a>
                    <a id='gotoDecisionWidget' class='btn'>Make modifications to the election before voting can start</a>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div class="modal-footer"></div>
      </div>

</script>





<script id="decisionWidgetTemplate" type="text/x-handlebars-template">

     <div class="tabbable">
       <ul class="nav nav-tabs">
         <li class="active">
           <a href="#decisionPublicView" data-toggle="tab">Decision</a></li>
         <li>
           <a href="#settings" data-toggle="tab">Settings</a><i class='icon-wrench'></i></li>
       </ul>
       <div class="tab-content">
         <div class="tab-pane active" id="decisionPublicView">
           <a id='voteButton' class='btn'>Vote</a>
         </div>
         <div class="tab-pane" id="settings">
         </div>
       </div>
     </div>

</script>


<script id="voteTemplate" type="text/x-handlebars-template">

      <div id="votePanel" class="modal hide">
        <div class="modal-header"></div>
        <div class="modal-body">

          <div class='avballot'>
            <div>
              <span>Vote on : {{this.decisionTitle}}</span><br>
              <span>Mark your level of approbation for each candidate, <br> 
                 -2: strongly disapprove, -1 disapprove, 0: neutral, 1: approve, 2: strongly approve
              </span>
            </div>
            <div>
              <ul>
                {{# each scores}}
                   <li>
                     <span>{{this.title}}</span>
                     <div class="btn-group" data-toggle="buttons-radio">
                       <a altId='{{this.alternativeId}}' score= '-2' class='ap1 btn'>-2</a>
                       <a altId='{{this.alternativeId}}' score= '-1' class='ap2 btn'>-1</a>
                       <a altId='{{this.alternativeId}}' score= '0' class='ap3 btn'>0</a>
                       <a altId='{{this.alternativeId}}' score= '1' class='ap4 btn'>1</a>
                       <a altId='{{this.alternativeId}}' score= '2' class='ap5 btn'>2</a>
                     </div>
                   </li>
                {{/ each}}
              </ul>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <a id='submitVote' class='btn'>Submit my vote</a>
          <a id='close' class='btn'>Close, I'll vote later</a>
        </div>
      </div>
</script>

<script id="invitationForUnauthorizedTemplate" type="text/x-handlebars-template">
  <div>
    <h4>
      Hi, you have been invited by 
       <img src='https://graph.facebook.com/{{appReqInfo.from.id}}/picture'/>
       <a target='blank' href='https://facebook.com/{{appReqInfo.from.id}}'>{{appReqInfo.from.name}}</a> <br>
       to vote on {{decisionTitle}}
    </h4>
      <a id='authorizeApp' class='btn'>Accept</a>
      <a class='btn'>Dismiss</a>
  </div>
</script>


<!-- 
    title: String, 
    owner: ParticipantDisplay,
    ownerId: Long,
    numberOfVoters: Long,
    numberOfVotesExercised: Long,
    results: Option[Seq[FinalScore]]
-->

<script id="decisionPanelTemplate" type="text/x-handlebars-template">

  <div class='rvElectionResults'>
     <div>
       <h2>Decision : {{title}}</h2><br>
       
       <div class='span1'>
         <img src='https://graph.facebook.com/{{owner.facebookId}}/picture?type=square'>
         Owner : {{owner.displayName}}
       </div>
       
       {{#if viewerHasVoted}}You have voted{{/if}}
       {{#if viewerCanVote}}<a class='btn' id='voteNow'>Vote</a>{{/if}}

       {{numberOfVoters}} participants<br>
       {{numberOfVotesExercised}} have voted<br>
     </div>
     <div>
      {{#if results}}
         <table>
             <tr>
               <td></td>
               <td></td>
               <td>
                 <div class="scoreGradientBar"></div>
               </td>
             </tr>
           {{# each results}}
                <tr>
                  <td>{{title}}</td>
                  <td>
                    <div class="scoreBar">
                       <div class="scoreBadge" style="background-color:{{rgbColor}}; color:{{scoreColor}};">{{score}}</div></td>
                    </div>
                  <td>
                    <div class="scoreBar">
                       <div class="scoreTic" style="margin-left:{{pos}}%; background-color:{{rgbColor}}; color:{{scoreColor}};"></div>
                    </div>
                  </td>
                </tr>
          {{/ each}}
         </table>
       {{else}}
         <h2>Decision in progress</h2>
       {{/if}}
     </div>
  </div>

</script>
