



.wizardStep {

  div {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

/*.tooltip {  font-size: 18px} */


@rejecCol2: #ff0905;
@rejecCol1: #FF7F32; /* rgb(255,127,50) */
@neutralCol: #fff45e;
@approveCol1: #96D636; /* rgb(150,214,54) */
@approveCol2: #2db70e;

.gradientLR(@dum, @startColor: #555, @endColor: #333) {
  background-color: @endColor;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  background-image: -webkit-linear-gradient(right center, @startColor, @endColor);
  background-image: -moz-linear-gradient(left center, @startColor, @endColor);
  background-image: -o-linear-gradient(left,  @startColor,  @endColor);
  background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor));
  filter: e(%("progid:DXImageTransform.Microsoft.Gradient(StartColorStr='%d', EndColorStr='%d', GradientType=1)",@startColor,@endColor));
  -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorStr='%d', EndColorStr='%d', GradientType=1))",@startColor,@endColor);
 }
 
 
.scoreBarContour {
    border-style: solid;
    border-width: 1px;
    border-color: #777777;
}
.scoreBarCommon {
    .scoreBarContour();
    overflow: hidden;
    height: 22px;
    margin-bottom: 0px;
    padding: 3px;
    text-align: center;
}

.rvElectionResults {
  border-radius: 4px;
  
  div {
    border-radius: 4px;
  }

  border-style: solid;
  border-color: black;
  padding: 25px;

  tr {
    width: 100%;
    td {
      padding: 5px;
      font-size: 20px;
    }
  }

  .scoreGradientBar {
    width: 500px;
    overflow: hidden;

    background: #ff0905; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDkwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ1JSIgc3RvcC1jb2xvcj0iI2ZmZjQ1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU1JSIgc3RvcC1jb2xvcj0iI2ZmZjQ1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZGI3MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #ff0905 0%, #fff45e 45%, #fff45e 55%, #2db70e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff0905), color-stop(45%,#fff45e), color-stop(55%,#fff45e), color-stop(100%,#2db70e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #ff0905 0%,#fff45e 45%,#fff45e 55%,#2db70e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #ff0905 0%,#fff45e 45%,#fff45e 55%,#2db70e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #ff0905 0%,#fff45e 45%,#fff45e 55%,#2db70e 100%); /* IE10+ */
    background: linear-gradient(left, #ff0905 0%,#fff45e 45%,#fff45e 55%,#2db70e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0905', endColorstr='#2db70e',GradientType=1 ); /* IE6-8 */

    .scoreBarCommon();
  }

  .scoreBar {
    position: relative;
    background-color: #F4F2EB;
    
    .scoreBadge {
      .scoreBarCommon();
    }
    .scoreTic {
      width: 4%;
      .scoreBarCommon();
      border-radius: 4px;
      
      text-align: center;
    }
  }
}

.avballot {
  float: left;
  margin: 30px;
  padding: 7px;
  background-color: white;
  border-radius: 2px;
  
  ul {
    list-style:none;
    margin: 0 0 0 0;
  }
  
  > div > span:first-child {
    font-size: 18px;
  }

  > div > span:last-child {
    font-size: 12px;
  }
  
  div:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    padding: 5px;
  }

  li {
    border-top-style: solid;
    padding: 5px;
    position: relative;

    
    span {
      font-size:15px;
    }
    
    *:last-child {
       position: absolute;
       right: 0px;
       top: 0px;
       
       /*For Score voting ballot : */
       a {
         position: relative;
       }       
     }
     
     div a.btn { /*unchecked*/
       color: grey;
       font-weight: light;
     }
          
     /*For Approval voting ballot : */
     a.btn {     /*unchecked*/
       color: transparent;
     }
  }
  
  > *:last-child {
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;       
  }
  
  a.btn.active  { /*checked*/
    font-weight: bold;
    color: black;
  }
}
