@(decisionId: String)
<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="@routes.Assets.at("javascripts/jquery-custom/themes/ui-lightness/jquery-ui-1.8.18.custom.css")">

    @css("bootstrap.css")
    @css("timepicker.css")
    @css("ballot.css")
    
    @handlebars.adminScreen()
    @handlebars.ballotView()
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id='mainPanel'></div>        
      </div>
      <div class="row">
        <div id='decisionViewPanel'></div>
      </div>
    </div>

    @javaScriptLibs()
    @js("jquery-custom/ui/jquery-ui-1.8.18.custom.js")

    @js("bootstrap-timepicker.js")
    @js("handlebarsHelpers.js")
    @js("datetimepicker.js")
    @js("decisionForm.js")
    @js("votePanel.js")
    @js("dynList.js")
    @js("participantsTab.js")
    @js("initFacebook.js")
    @js("rainbowvis.js")
    @js("adminScreen.js")
    @js("decisionPanel.js")

    <script>initializeApp('@decisionId')</script>

  </body>
<html>
