@(decisionId: Long)
<!DOCTYPE html>

  @js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}

  @css(p: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}

  @jsv(p: String, version: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}

  @cssv(p: String, version: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}

  @template(id: String)(body: Html) = {
    <script type="text/template" id="@id">
      @body
    </script>
  }

<html>
  <head>

    <link rel="stylesheet" href="@routes.Assets.at("javascripts/jquery-custom/themes/ui-lightness/jquery-ui-1.8.18.custom.css")">

    @css("bootstrap.css")
    @css("timepicker.css")

    <script id="rowT" type="text/x-handlebars-template">
      <div class='row'>
        <div class='control-group'>
          <div class='span1'>
            <label class="control-label">{{label}}</label>
          </div>
          <div class='span11'>
            <div class="controls">
              {{content}}
              <span class="help-inline"></span>
            </div>
          </div>
        </div>
      </div>
    </script>
    
    <script id="choiceTemplate" type="text/x-handlebars-template">
      <input type="text" value="{{text}}"/><i class="icon-remove"></i>
    </script>

    <script id="decisionViewTemplate" type="text/x-handlebars-template">
      <form class="form-horizontal">

        {{# applyTemplate "rowT" label="Title"}}
          <input name='title' type="text" value="{{title}}"/>
        {{/ applyTemplate}}

        {{# applyTemplate "rowT" label="Choices"}}
          <div id="choiceList">
              <input type="text" placeholder="Enter choices"></input>
              <ul></ul>
          </div>          ​
        {{/ applyTemplate}}

        {{# applyTemplate "rowT" label="Election ends"}}
          <div class="btn-group" data-toggle="buttons-radio">
            <a button class="btn" id='toggleEndsWhenComplete'> when every one has voted</a>
            <a button class="btn" id='toggleEndsAt'> at fixed date time</a>
          </div>
        {{/ applyTemplate}}

        <div id='endTime'>
           {{# applyTemplate "rowT" label="Ends Time"}}
             <div data-provide='datetimepicker'></div>
           {{/ applyTemplate}}
        </div>

        {{# applyTemplate "rowT" label="Description"}}
          <textarea name='summary' class='input-xlarge' type="textarea"></textarea>
        {{/ applyTemplate}}

        {{# applyTemplate "rowT"}}
          <a class="btn">Ok</a>
        {{/ applyTemplate}}
      </form>
    </script>

  </head>
  <body>
    
    <div id='decisionForm'></div>

    @js("jquery-1.7.1.min.js")
    @js("jquery-custom/ui/jquery-ui-1.8.18.custom.js")

    @js("underscore.js")
    @js("backbone.js")    
    @js("bootstrap.js")
    @js("handlebars-1.0.0.beta.6.js")

    @js("bootstrap-timepicker.js")

    @js("handlebarsHelpers.js")
    @js("datetimepicker.js")
    @js("decisionForm.js")
    @js("dynList.js")

    <script>
    
      var d = new Decision({id:@decisionId});
      d.fetch();
      d.set('endTime', (new Date().getTime()));

      ChoiceView = DynListElementView.extend({
        compiledTemplate: Handlebars.compile(
            '<input type="text" value="{{text}}"/><i class="icon-remove"></i>')
      })

      ChoiceList = Backbone.Collection.extend({
          model: DynListElement,
          url: "/df/123"
      });
      
      ChoicesListView = DynListView.extend({
        model: new ChoiceList(),
        createElementView: function(e) {
          return new ChoiceView({model: e})
        }
      });
      
      new DecisionView({
        el: $("#decisionForm"), 
        model: d,
        afterRender: function() {
          new ChoicesListView({el: $('#choiceList')});
        }
      });

    </script>
    
    
    
  </body>
  
<html>
