@()
<!DOCTYPE HTML>
<html>
<head>
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"></script>
    <script src='@routes.Assets.at("javascripts/underscore.js")'></script>
    <script src='@routes.Assets.at("javascripts/backbone.js")'></script>
</head>

<body>


    <div id="content"></div>
    <input type="button" name="" value="Fake save" id="save" />
    <input type="button" name="" value="Add" id="add" />

    <pre id="log"></pre>

    <script src='@routes.Assets.at("javascripts/main.js")'></script>

</body>
</html>