@()
<!DOCTYPE html>

<html>
    <head>
     <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
     <link rel="stylesheet" href="@routes.Assets.at("jquery-ui/jquery-ui-1.8.18.custom.css")">

     <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <script src="@routes.Assets.at("jquery-ui/development-bundle/jquery-1.7.1.js")"    type="text/javascript"></script>
     <script src="@routes.Assets.at("jquery-ui/development-bundle/ui/jquery-ui-1.8.18.custom.js")"    type="text/javascript"></script>

     <script src='@routes.Assets.at("javascripts/bootstrap-dropdown.js")'  type="text/javascript"></script>
     <script src='@routes.Assets.at("javascripts/bootstrap-scrollspy.js")' type="text/javascript"></script>
     <script src='@routes.Assets.at("javascripts/bootstrap-collapse.js")'  type="text/javascript"></script>
     <script src='@routes.Assets.at("javascripts/bootstrap-tooltip.js")'   type="text/javascript"></script>
     <script src='@routes.Assets.at("javascripts/bootstrap-button.js")'   type="text/javascript"></script>
     <script src='@routes.Assets.at("javascripts/bootstrap-tab.js")'   type="text/javascript"></script>
     <script src='@routes.Assets.at("javascripts/bootstrap-modal.js")'  type="text/javascript"></script>
    </head>
  <body>

<div class='container'>

  @import helpers._
  
  @checkboxComparisonTable(
    Seq("Vote par valeur", "Vote uninominal", "vote proportionnel de liste"),
    Seq(
      "Il est toujours possible de voter honnêtement (non stratégiquement) sans être pénalisé" -> Seq(true, false),
      "Le bulletin de vote permet à l'électeur d'exprimer son niveau d'approbation pour chaque candidat" -> Seq(true, false),
      "Les votes ne sont jamais gaspillés par le phénomène de la division du vote" -> Seq(true, false),
      "Assure une représentation proportionnelle des partis" -> Seq(true, false),
      "Dégénère <b>pas</b> inévitablement vers une domination de deux partis" -> Seq(true, false)
    )
  )

</div>
  </body>
</html>
