@(d: Decision)

@import helpers._

<form class="form-horizontal">
  <fieldset>

     @bootstrapField("Title") {
       <input type="text" value="@d.title"/>
     }

     @bootstrapField("In one phrase") { 
       <input type="text" value="@d.punchLine.getOrElse("")"/>
     }

     @bootstrapField("Description") {
       <textarea class='input-xlarge' type="textarea" value="@d.summary.getOrElse("")"/>
     }

     @bootstrapField("Election ends") {
       <label class="radio">
         <input type="radio" name="endNode" value="complete" checked>
         when every one has voted
       </label>
       <label class="radio">
         <input type="radio" name="endMode" value="time">
         on @dateTimeField(None, "endDate", "endHour", "endMinute")
       </label>
     }

     @bootstrapField("Results are shown only at the end") {
       <input type="checkbox" value='resultsPrivateUntilEnd' @(if(d.resultsPrivateUntilEnd) "checked" else "")/>
     }

  </fieldset>
</form>
