@(d: Decision, isNew: Boolean, choices: Seq[DecisionAlternative])

@import helpers._
@import com.decision_hub.Util._


  <h2>Create (or edit) Decision</h2>

  @row(s: String)(h: Html) = {
    <div class='row'>
      <div class='control-group'>
        <div class='span1'>
          <label class="control-label">@s</label>
        </div>
        <div class='span11'>
          <div class="controls">
            @h
            <span class="help-inline"></span>
          </div>
        </div>
      </div>
    </div>
  }

  <form id='createOrEditDecisionForm' class="form-horizontal">
    @if(! isNew) {
      <input type='hidden' name='id' value='@d.id'>
    }
    @row("Title") {
      <input name='title' type="text" value="@d.title.encodedAsJavascript"/>
    }

    @row("Description") {
      <textarea name='summary' class='input-xlarge' type="textarea">@d.description.getOrElse("")</textarea>
    }

    @row("Election ends") {
      <label class="radio">
        <input type="radio" name="endMode" value="complete" checked>
        when every one has voted
      </label>
      <label class="radio">
        <input type="radio" name="endMode" value="time">
        on @dateTimeField(None, "endDate", "endHour", "endMinute")
      </label>
    }

    @row("Results are shown only at the end") {
      <input type="checkbox" name='resultsPrivateUntilEnd' value='true' @(if(d.resultsPrivateUntilEnd) "checked" else "")/>
    }

    @row("Choices") {
        <div id='alternatives'/>
        <a onClick="addEmptyAlt()" class='btn btn-primary'>Add Choice</a>
    }
  </form>

  <a class='btn  btn-primary' data-dismiss="modal" onClick='submitNewDecision()'>Save</a>
  <a class='btn' data-dismiss="modal" >Cancel</a>



<script>

  // ids of new choices will be negative
  var i = 0
  var persistedChoicesToDelete = new Array(0);

  function removeAlt(idx) {
    if(idx >= 0)
      persistedChoicesToDelete.push(idx)
  }

  function addEmptyAlt() {
    i--
    addAlt(i,'')
  }

  function addAlt(i, txt) {
    $('#alternatives').append(
      $('<div/>').append(
        $('<form>').append(
          $('<input/>', {name:'title', type:'text', value:txt})
        ).append(
          $('<input/>', {name:'id', type:'hidden', value:i})
        ).append(
          $("<a class='btn'><i class='icon-remove'></i> Remove</a>").click(function() {
            removeAlt(i)
            $(this).parent().parent().remove()
          })
        )
      )
    )
  }

  @if(choices.size == 0) {
    addEmptyAlt()
  } else {
    @for(c <- choices) {
      addAlt(@c.id,'@c.title.encodedAsJavascript')
    }
  }

  $('#endDate').datepicker().datepicker("setDate", new Date(@(System.currentTimeMillis)));

</script>
