@()

@import helpers._
@import com.decision_hub.Util._


  <h2>Create (or edit) Decision</h2>

  @row(s: String)(h: Html) = {
    <div class='row'>
      <div class='control-group'>
        <div class='span1'>
          <label class="control-label">@s</label>
        </div>
        <div class='span11'>
          <div class="controls">
            @h
            <span class="help-inline"></span>
          </div>
        </div>
      </div>
    </div>
  }

  <form id='decisionForm' class="form-horizontal">

    @row("Title") {
      <input name='title' type="text"/>
    }

    @row("Description") {
      <textarea name='summary' class='input-xlarge' type="textarea"></textarea>
    }

    @row("Election ends") {
      <label class="radio">
        <input type="radio" name="endMode" value="complete" checked>
        when every one has voted
      </label>
      <label class="radio">
        <input type="radio" name="endMode" value="time">
        on <div data-provide='datetimepicker'></div>
      </label>
    }
  </form>

  <a class='btn  btn-primary' data-dismiss="modal" onClick='submitNewDecision()'>Save</a>
  <a class='btn' data-dismiss="modal" >Cancel</a>
