@(decisionSummary: DSummary, participantDisplays: Seq[ParticipantDisplay], invitationDisplays: Seq[ParticipantDisplay], currentUserCanVote: Boolean, currentUserIsAdmin: Boolean) <!-- //, voteIfParticipantAndLogged: Option[Seq[CastedVote]]) -->

@import com.decision_hub.Util._

<h1>@decisionSummary.title</h1>

<br/>

@if(decisionSummary.decision.resultsCanBeDisplayed) {
  <div class="row">
    <div class="span8">  
      @for(a <- decisionSummary.alternativeSummaries.sortBy(x => - x.points)) {
        <h4>@a.alternativeTitle</h4> <br/>
        <div id='progr@a.alternativeId' class="progress">
          <div class="bar" style="width: @a.percentageOfMaximumPoints(decisionSummary)%"></div>
        </div>
      }
    </div>
   <div class="span4" id="__dsum@decisionSummary.decision.id"></div>  
  </div>
}

<div id=__participantList'>@participantList(participantDisplays, invitationDisplays)</div>

@if(currentUserCanVote) {

  <div id="voteScreen" class="modal hide fade"></div>
  <a data-toggle="modal" onClick='popVote()' class="btn btn-primary btn-large">Vote</a>  
}

@if(currentUserIsAdmin) {

  <a onClick='edit()' class="btn btn-primary btn-large">Edit</a>
  <a data-toggle="modal" onClick='inviteVoters(@decisionSummary.decision.id)' class="btn btn-primary btn-large">Invite Facebook friends</a>
}

<script>

  @if(currentUserIsAdmin) {
    var inviteVoters = inviteFrieldsFunc('Invitation to vote on : @decisionSummary.title.encodedAsJavascript', @decisionSummary.decision.id)
    function edit() {
      ajaxAction('/decision/edit/@decisionSummary.decision.id')
    }
  }

  @if(currentUserCanVote) {
   function popVote() {
      $('#voteScreen').load('/vote/' + @decisionSummary.decision.id, function() {
        $('#voteScreen').modal('show')
      })
    }
  }

</script>
