@(decisionSummary: DSummary, participantDisplays: Seq[ParticipantDisplay], invitationDisplays: Seq[ParticipantDisplay], currentUserIsParticipant: Option[Boolean]) <!-- //, voteIfParticipantAndLogged: Option[Seq[CastedVote]]) -->

<h1>@decisionSummary.title</h1>

<br/>

@if(decisionSummary.decision.resultsCanBeDisplayed) {
  <div class="row">
    <div class="span8">  
      @for(a <- decisionSummary.alternativeSummaries.sortBy(x => - x.points)) {
        <h4>@a.alternativeTitle</h4> <br/>
        <div id='progr@a.alternativeId' class="progress">
          <div class="bar" style="width: @a.percentageOfMaximumPoints(decisionSummary)%"></div>
        </div>
      }
    </div>
   <div class="span4" id="__dsum@decisionSummary.decision.id"></div>  
  </div>
}

<div id=__participantList'>@participantList(participantDisplays, invitationDisplays)</div>

for(b <- currentUserIsParticipant if b) {

  <div id="voteScreen" class="modal hide fade"></div>

  <a data-toggle="modal" onClick='popVote()' class="btn btn-primary btn-large">Vote</a>

  <a data-toggle="modal" onClick='inviteVoters(@decisionSummary.decision.id)' class="btn btn-primary btn-large">Invite Facebook friends</a>

  <script>

    function refreshParticipationList(pageIdx) {
     alert('/participants/@decisionSummary.decision.id/' + pageIdx + '/16')
      var dd = $('#__participantList')
      alert(dd)
      dd.live('load', '/test', function() {alert('343434')})
      alert('a2')
    }
    
    //http://www.webgeekly.com/tutorials/jquery/use-jquery-event-handling-with-dynamically-loaded-elements/
    //refreshParticipationList(0)

    function popVote() {
      $('#voteScreen').load('/vote/' + @decisionSummary.decision.id, function() {
        $('#voteScreen').modal('show')
      })
    }


    function augmentAndPostInfo(response) {

      var fbIds = JSON.stringify(response.to).replace('[','(').replace(']',')')

      FB.api({
        method: 'fql.query',
          query: 'SELECT uid,name FROM user WHERE uid in ' + fbIds
        },
        function(queryResponse) {
          response.to = queryResponse
          var msgToPost = JSON.stringify(response)
          $.ajax({
            type: 'POST',
            url: "/recordInvitationList",
            data: msgToPost,
            success: function() {
              refreshCenterPanel()
            },
            contentType: "application/json; charset=utf-8",
            dataType: 'json'
          })
        }
      )
    }

    function inviteVoters(decisionId) {
      FB.ui({method: 'apprequests',
        message: 'Invitation to vote on ...',
        data: 'abc123'
      },
      function requestCallback(response) {
        if(response != null) {
          response.decisionId = decisionId
          augmentAndPostInfo(response)
         }
      })
    }

  </script>
}
