@(summaries: Seq[DSummary], pendingInvitations: Seq[(ParticipantDisplay,Decision)])


@if(pendingInvitations != Nil) {

  <div id="acceptOrDeclineInvitationsDialog" class="modal hide fade">
    <div class="modal-header"><a class="close" data-dismiss="modal" >&times;</a>
      <h2>You have pending invitations</h2>
    </div>

    <div class="modal-body">
      <form id='acceptOrDeclineInvitationsForm' action=''>
        @for((participant,d) <- pendingInvitations) {
          <h3>
            <img src='@participant.iconSrc'/><a>@participant.displayName</a> invited you to vote on @d.title
          </h3>
          <label class="radio">
             Accept
            <input type="radio" name="@d.id" value="true" checked>
          </label>
          <label class="radio">
             Decline
            <input type="radio" name="@d.id" value="false">
          </label>
        }
      </form>
    </div>
    
    <div class="modal-footer">
      <a class='btn  btn-primary' onClick='saveOrDecline()'>Save</a>
      <a class='btn' data-dismiss="modal" >Later</a>
    </div>
  </div>
  
  <script>
    function saveOrDecline() {
      $.post("/acceptOrDeclineInvitations", $("#acceptOrDeclineInvitationsForm").serialize())
      $('#acceptOrDeclineInvitationsDialog').modal('hide')
    }
    $('#acceptOrDeclineInvitationsDialog').modal('show')
  </script>  
}


@for(d <- summaries) {

<a href='#' onClick='ajaxAction("/p/@d.decision.id")'>
<div class='row'>

   <div class="span8">

     <h2>@d.title</h2>
     <h4>@d.decision.description</h4>

     <h4>Choices are : </h4>
      @d.alternativeSummaries.headOption.map { ho =>
        <ul>
        @for(a <- d.alternativeSummaries) {
          <li>@a.alternativeTitle</li>
        }
        </ul>
      }
   </div>

   <div class="span2" id="__dsum@d.decision.id"></div>

   <div class="span2"></div>
     <span class="badge badge-success">@d.numberOfVoters</span> Voters<br/>
     <span class="badge badge-success">@d.numberOfVotesExercised</span> Voted so far<br/>
     <span class="badge badge-success">@d.numberOfAbstentions</span> Abstensions<br/>
     <span class="badge badge-success">1 day 45 minutes left</span><br/>
     Admin: <a>Max L.</a>
   </div>

</div>
</a>
}

<script>
@for(d <- summaries) {
  drawChart(document.getElementById('__dsum@d.decision.id'), 120, @Html(d.pieChartData))
}
</script>