@(decisionForm: Form[Decision])(implicit mpo: MainPageObjects)

@import helper.twitterBootstrap._
@import helper._

@main(title = "The Decision") {

    <h1>What is the decision about ?</h1>

    @form(action = routes.Decisions.submit) {

        <input type='hidden' value='@decisionForm.data.getOrElse("id","")'/>

        @inputText(
            field = decisionForm("title"),
            '_label -> "A title"
        )

        @inputText(
            field = decisionForm("punchLine"),
            '_label -> "Described in one phrase"
        )

        @textarea(
            field = decisionForm("summary"),
            '_label -> "Described in one paragraph",
            'cols -> 80
        )

        @checkbox(
            field = decisionForm("votesAreAnonymous"),
            '_label -> "Are votes anonymous ?"
        )

        <p class="buttons"><input type="submit" id="submit"></p>

    }

}
