@(invitationInfoWhenUnAuthorized: Option[DecisionInvitationInfo])
<!DOCTYPE html>
<html>
  <head>
  
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/jquery-custom/themes/ui-lightness/jquery-ui-1.8.18.custom.css")">
    @css("bootstrap.css")
    @css("timepicker.css")
    @css("ballot.css")

    @handlebars.templates()

  </head>

  <body>

     <div id='mainPanel'>
       <div id='ballotList'></div>
     </div>

    @javaScriptLibs()

    @js("handlebarsHelpers.js")

    @js("initFacebook.js")

    @js("fbVoterScreen.js")

    <script>
      @import com.codahale.jerkson.Json._
      
      initializeApp(@Html(invitationInfoWhenUnAuthorized.map(generate(_)).getOrElse("null")))
    </script>
  </body>
<html>
