@(invitationInfoWhenUnAuthorized: Option[DecisionInvitationInfo])
<!DOCTYPE html>
<html>
  <head>
    @css("bootstrap.css")
    @css("ballot.css")

    @handlebars.ballotView()

  </head>

  <body>

     <div id='mainPanel'>
       <div id='ballotList'></div>
     </div>

    @javaScriptLibs()

    @js("handlebarsHelpers.js")

    @js("votePanel.js")
    @js("participantsTab.js")
    @js("initFacebook.js")

    @js("fbVoterScreen.js")

    <script>
      @import com.codahale.jerkson.Json._
      
      initializeApp(@Html(invitationInfoWhenUnAuthorized.map(generate(_)).getOrElse("null")))
    </script>
  </body>
<html>
