@()

<!DOCTYPE html>

  @js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}

  @css(p: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}

<html>
  <head>
    @css("bootstrap.css")
    @handlebars.ballotView()
  </head>

  <body>

        <div id='mainPanel'>
          <ul id='ballotList'></ul>
        </div>


    @js("jquery-1.7.1.min.js")
    @js("underscore.js")
    @js("backbone.js")
    @js("bootstrap.js")
    @js("handlebars-1.0.0.beta.6.js")
    @js("handlebarsHelpers.js")

    <script>
      var handlebarsTemplates = $("script[type='text/x-handlebars-template']");
      Templates = {};

      handlebarsTemplates.each(function(i, templateElement) {
        var t0 = $(templateElement);
        var t = Handlebars.compile(t0.html());
        Templates[t0.attr('id')] = t
      })

      initHandlebarsHelpers(Templates)
    </script>

    @js("votePanel.js")
    @js("participantsTab.js")
    @js("initFacebook.js")

    @js("fbVoterScreen.js")

  </body>
<html>
