@()

@main {

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Overview</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <br>
    <br>
    <br>

    
    <div id='mainPanel' class="container">

      <div class="row">
        <div class="hero-unit">
          <h1>Decision Hub</h1>
          <p>Decision Hub is a tool for taking group decisions by multi level approval voting,
             a method that yields the most satisfactory outcome for all participants and that
             and where intelligence and insight of each member's participant is best put to contribution.
          </p>
          <p><a id='createNewDecision' class="btn btn-primary btn-large">Create Decision</a></p>
        </div>
      </div>


      <div class="modal hide" id="loginDialog">

        <div class="modal-header">
          <button class="close" data-dismiss="modal">×</button>
          <h3>Login</h3>
        </div>
        <div class="modal-body">
          <div id='modalDialogMessage'></div>          
          <a id='loginWithFacebook' class="btn">Login with Facebook</a><br>
          <input id='emailAddress' type='text'><br>
          Name (Insecure mode): <input id='nickName' type='text'>
        </div>
        <div class="modal-footer">
          <a id='cancel' class="btn">Close</a>
          <a class="btn btn-primary">Next</a>
        </div>
      </div>

    </div>
} {

  new CreateDecisionWizard()

}