@()
<!DOCTYPE html>
<html>
  <head>

    @js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}
    @css(p: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}
    @css("bootstrap.css")
  </head>
  <body>
    <div class="container">

      <div class="row">
        <div class="hero-unit">
          <h1>Decision Hub</h1>
          <p>Decision Hub is a tool for taking group decisions by multi level approval voting,
             a method that yields the most satisfactory outcome for all participants and that
             and where intelligence and insight of each member's participant is best put to contribution.
          </p>
          <p><a href='/newDecision' id='createNewDecision' class="btn btn-primary btn-large">Create Decision</a></p>
        </div>
      </div>
    </div>
  </body>
<html>
