@(decision: Decision, invitationMessage: String)(implicit mpo: MainPageObjects)

@import helper._

<!DOCTYPE html>

<html>
    <head>
    @headContent {
      <script>

JSON.stringify = JSON.stringify || function (obj) {
    var t = typeof (obj);
    if (t != "object" || obj === null) {
        // simple data type
        if (t == "string") obj = '"'+obj+'"';
        return String(obj);
    }
    else {
        // recurse array or object
        var n, v, json = [], arr = (obj && obj.constructor == Array);
        for (n in obj) {
            v = obj[n]; t = typeof(v);
            if (t == "string") v = '"'+v+'"';
            else if (t == "object" && v !== null) v = JSON.stringify(v);
            json.push((arr ? "" : '"' + n + '":') + String(v));
        }
        return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
    }
};

        function sendRequestViaMultiFriendSelector() {
          FB.ui({method: 'apprequests',
            message: '@invitationMessage',
            data: 'abc123'
          },
          function requestCallback(response) {
            if(response != null) {
              response.decisionId = '@decision.id'
              var z = JSON.stringify(response)
              $('#logDiv').append(z);
              $.ajax({
                type: 'POST',
                url: "/recordInvitationList",
                data: z,
                success: function() {},
                contentType: "application/json; charset=utf-8",
                dataType: 'json'
              });
             }
          });
        };
      </script>
    }
    </head>
    <body>
    <div id="fb-root"></div>
    <script>
         window.fbAsyncInit = function() {
          FB.init({
            appId      : '300426153342097', // App ID
            status     : true, // check login status
            cookie     : true, // enable cookies to allow the server to access the session
            channelUrl : '/channel.html', // Channel File
            frictionlessRequests : true,
//            redirect_uri: 'http://localhost/decision/@decision.id',
            xfbml      : true  // parse XFBML
          });

          // Additional initialization code here
        };

        // Load the SDK Asynchronously
        (function(d){
           var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           ref.parentNode.insertBefore(js, ref);
         }(document));

    </script>
<!-- 
            frictionlessRequests : true,
            redirect_uri: 'http://decision-hub.com/decision/@decision.id',
            channelUrl : '/channel.html', // Channel File
            
-->
    @mainInnerBody("Invite voters") {
        <div onClick="sendRequestViaMultiFriendSelector()"><a>Invite friends</a></div>

      <br/>

      <a href='http://www.facebook.com/dialog/apprequests?app_id=300426153342097&message=ZZZZZZZZZ&redirect_uri=http://strong-links.com/decision/@decision.id'>
        ZZZZZZAZA
      </a>

      <div id='logDiv'>Zozo</div>
    }
    </body>
</html>
