@()

@js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}

@js("jquery-1.7.2.js")
@js("underscore.js")
@js("backbone.js")
@js("bootstrap.js")

@js("handlebars-1.0.0.beta.6.js")

@js("jquery.ui.core.min.js")
@js("jquery.ui.datepicker.min.js")
@js("bootstrap-timepicker.js")
@js("datetimepicker.js")

@js("handlebarsHelpers.js")
@js("initFacebook.js")

@js("models.js")
@js("FacebookAuthorizeDialog.js")
@js("EditableListView.js")
@js("ParticipantsView.js")
@js("DecisionSettingsView.js")
@js("DecisionWidget.js")
@js("CreateDecisionWizard.js")
@js("ApplicationView.js")