@(bodyContent: Html)(script: Html)
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @css("jquery-ui-1.8.18.custom.css")
    @css("jquery.ui.datepicker.css")
    @css("bootstrap.css")
    @css("timepicker.css")
    @css("ballot.css")

   <style type="text/css">
      .DecisionAdminPanel {
        padding: 10px;
        border-style: solid;
        border-color: lightBlue;
        border-radius: 4px;
      }
      
      .decisionWidget {
        border-style: solid;
        padding:20px;
        margin-bottom: 25px;
        border-radius: 11px;
      }
      
      .choiceTitle {
        font-weight: bold;
      }
   </style>

   <!--[if gte IE 9]>
     <style type="text/css">
       .barz {
          filter: none;
       }
     </style>
   <![endif]-->

    @handlebars.templates()

  </head>

  <body>
    @bodyContent

    @javaScriptLibs()

    <script>
    
        FB_APP_ID = '@com.decision_hub.FacebookProtocol.facebookAppId'
        
        @script
    </script>

  </body>
</html>
