@(title: String, nav: String = "")(content: Html)(implicit mpo: MainPageObjects)

@mpo.debugDump.map { debugInfo =>
<pre>
@debugInfo
</pre>
}
        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Home</a>
                    <ul class="nav">
                        @if(mpo.dhSession.isEmpty) {
                          <li class="@("active".when(nav == "signup"))">
                            <a href="@routes.Application.login">Sign up</a>
                          </li>
                        } else {
                          <li class="@("active".when(nav == "signup"))">
                            <a href="@routes.Application.logout">Log out</a>
                          </li>
                        }
                        @mpo.dhSession.map { sess =>
                          <li class="@("active".when(nav == "signup"))">
                            <a>@sess.displayName</a>
                          </li>
                          <li class="("active".when(nav == "contact"))">
                            <a href="@routes.Decisions.myDecisions(sess.userId)">My Decisions</a>
                          </li>
                          <li class="("active".when(nav == "createDecision"))">
                            <a href="@routes.Decisions.create">Create Decision</a>
                          </li>                          
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                
                <div class="page-header">
                    <h1>@title</h1>
                </div>

                <div class="row">
                    <div class="span14">
                        @content
                    </div>
                </div>
                
            </div>

            <footer>
                <p>
                    <a href="http://strong-links.com">strong-links.com</a>
                </p>
            </footer>

        </div>
        