@(d: Decision, cd: CreateDecision)

Hi @cd.ownerName.getOrElse(""), you have created a group decision on http://clearvote.net

If you haven't, simply ignore this email.

You can administer this decision by accessing it with this link : 

  https://clearvote.net/admin/@cd.linkGuids.adminGuid

It is important that you *dont't* share this link, anyone who has this link
can administer the decision, invite participants, etc.
This link also gives you access to your voting ballot for this decision.

To invite participants, or to view the results, use this link :

  https://clearvote.net/d/@cd.linkGuids.publicGuid

each participants will receive a personalized link that will allow
them to vote.

We hope that ClearVote.net will help your group take the best decision !
