          Is AV a first pas the post system ? 
          
          Lets first to determin what we mean and what is undesirable about FPTP.
          
          - One a party achieves a simple majority (what we call being past the post), it 
          I order to a achieving a simple majority, there isn't a big electoral cost to being hated, despised
          voters that are not among this simple majority.
          gets past the post ()
          
          
          

    Another kind of immutability

    I've been coding in JavaScript lately, for the last five years I've been coding almost exclusively on
    the "back end" in strongly types languages. I had whitnessed the evolution of the JavaScript ecosystem
    from a user's perspective : apps kept on being more responsive, more ergonomic more client side.
    Choosing which client side libraries and/or framework was the first challenge, and the number of quality
    projects to choose from was another indicator that their is no shortage of talent in the JavaScript
    community.

    Having been spoiled with Scala's type system that validated my code at the hit of a key stroke, I had 
    to devellop different coding habits. Fortunately, functional style has become ubiquitous in JavaScript,
    even more so in it's CoffeeScript flavor.
    Knowing that static typing in the browser is not for the near future, I've been asking myself :
    if I loose type checking, can I somehow get some of the goodness of immutability ?
    To what extent is the principle of favoring immutability applicable in the browser, knowing that JavaScript or
    CofeeScript can't help in that regard ?

    The question needs to be asked not only in the context of a dynamic programming language, but also
    in the context of GUI development.

    Anyone developing a minimally complex UI will sonner or later stumble on something similar to the Adapter
    Pattern.


===================================================================================

    Le conflit étudiant : une bouée de sauvetage pour le PLQ ?
    
    Il y a trois mois les stratèges libéraux avaient devant eux un défi quasi insoluble : 
    Convaincre la population d'accorder un nouveau
    mandat à un parti étant lié à presque tous les scandals de corruption qui ont éclaté
    dans la dernière décénie. La quadrature du cercle.
    Le étudiants, mais surtout les casseurs parmi eux ont été une véritable bouée de sauvetage.
    Les Québécois s'attendaient à rendre leur verdict sur la "façon de faire" libérale.
    
    
    
    commet gagner une élection avec le nombre de scandals
    impiquant la famille libérale 
    
    
    avec autant de scandals
    de corruption ou les membres de la famille libérale élargie occupe toujours 
    
    alors que les liens entre la famille libérale et les réseaux 
    
     de 
    corruptions mettant en vedette des libéraux notoires,  
    
    que la lumière 
    
    Bien malin celui qui aurait pu  
    
    Note de science politique 101 aux étudiants : C

    La première étape de la guérisons est l'identification et la prise de conscience du malaise.
    Les Québécois ont franchi cette étape ces dernières années.

    Les réseaux de corruption, leurs accès aux plus hautes sphères gouvernementales,
    avaient pris très peu de place dans l'imaginaire collectif des Québécois.

    Cette myopie est d'autant plus surprenante étant donné l'ampleur des "subventions" accordés
    aux compagnies du club sélect des "contracteurs gouvernementaux" (infrastructures routières
    qui coûtent 30% plus cher qu'ailleurs au Canada, pour une qualité moindre, etc...).
    Cette réalité a fini par devenir trop visible pour être ignorée.
    
    J'aimerais bien croire que la commission Charboneau réeussisse à faire le ménage, mais je 
    crains que le principal 
    Un peu comme le cancer, la corruption est un mal qui évolue, on ne le combat pas avec un seul remède
    mais une multitude, on doit l'attaquer sur tout les fronts à la fois. 
    Pour la corruption il y a cependant une chose qui soit indispensable pour le vaincre : la transparence.
    Si il 
    Ceux qui comptent sur la commission Charboneau pour mettre un terme à la gangrène
    
    Il n'y a pas qu'un seul remède à ce problème
    
    
    
    Alors que le Québec est gangrèné par la corruption, que le gouvernement en place évite toutes
    mesures pouvant la corriger (), on conflit de pinottes prend tout l'espace médiatique.
    
    
    
    
    Bon nombre de Québécois tournerons la page
    
    Que ferait un membre du club sélect 

    Les multiples symptômes aurait du nous alerter depuis 

    L'ampleur des fonds public disparus, des "subventions" à des compagnies ayant comme principale
    expertise l'octroi de place à des conseils d'administrations à d'ex ministres, haut fonctionnaires,
    membres méritants du parti libéral. 
    
    Le Québécois moyen s'intéresse bien peu à 
    
    
    Politique 101, Marketing 101
    
    De nombreux commentateurs de la scène politique Québécoise ont fait l'écho de l'idée voulant 
    que la jeunesse revendicatrice ait l'apprentissage du "realpolitik".
    Ils ont réeussi à mettre au premier plan médiatique leur revendications.
    Je leur concède la note de passage sur ce sujet,
    Au chapitre de la stratégie politique, je leur donne un beau zéro.
    
    Le gouvernement Charest qui allait s'écraser, 
    
    
    les ailes plombé par les révélations
    de magouilles,
     ou le traffic d'influence
    la lumière

    
    
          