          Is AV a first pas the post system ? 
          
          Lets first to determin what we mean and what is undesirable about FPTP.
          
          - One a party achieves a simple majority (what we call being past the post), it 
          I order to a achieving a simple majority, there isn't a big electoral cost to being hated, despised
          voters that are not among this simple majority.
          gets past the post ()
          
          
          

    Another kind of immutability

    I've been coding in JavaScript lately, for the last five years I've been coding almost exclusively on
    the "back end" in strongly types languages. I had whitnessed the evolution of the JavaScript ecosystem
    from a user's perspective : apps kept on being more responsive, more ergonomic more client side.
    Choosing which client side libraries and/or framework was the first challenge, and the number of quality
    projects to choose from was another indicator that their is no shortage of talent in the JavaScript
    community.

    Having been spoiled with Scala's type system that validated my code at the hit of a key stroke, I had 
    to devellop different coding habits. Fortunately, functional style has become ubiquitous in JavaScript,
    even more so in it's CoffeeScript flavor.
    Knowing that static typing in the browser is not for the near future, I've been asking myself :
    if I loose type checking, can I somehow get some of the goodness of immutability ?
    To what extent is the principle of favoring immutability applicable in the browser, knowing that JavaScript or
    CofeeScript can't help in that regard ?

    The question needs to be asked not only in the context of a dynamic programming language, but also
    in the context of GUI development.

    Anyone developing a minimally complex UI will sonner or later stumble on something similar to the Adapter
    Pattern.


===================================================================================

    Comment gagner une élection avec 75% d'insatisfaction ?
    
    Plusieurs années de scandales de corruption ont fait descendre l'appui au gouvernement 
    Charest vers des bas fonds. Contrairement à la quadrature du cercle, ce genre 
    de situation n'est pas insuluble pour un parti qui souhaite reprendre le pouvoir.
    
    Il existe un ingrédients :
    Mettre de l'avant un enjeux qui divise la population à 50% +1 voix.
    Il est indispensable de choisir un enjeux qui soulève le maximum de passions, d'emportements émotifs
    et de sentiments d'injustice des deux côtés. C'est encore mieux si les deux côtés en viennent
    à se mépriser, car le mépris, sentiment voisin de la haine, est très efficace
    pour soulever des passions, et amener un débat à haute teneur en émotivité.
    L'important est que l'enjeux devienne le thème principal de la campagne
    électorale, et qu'il occulte les questions qui ont mené aux taux d'insatisfaction de 75%. 

    La stratégie politique est devenue hautement sofistiqué, et scientifique. 
    Ceux qui croient que Charest cherche à tout prix à sortir de cette crise
    n'ont rien compris : cette crise est sa seule chance d'être 
    réélu, si elle devait s'éteindre, les questions de fonds d'avant la crise remonteraient à
    la surface : celles qui traitent de corruption, de la proximité d'acteurs
    principaux du crime organisé dans la famille libérale, des nombreux refus
    du gouvernement Charest à rendre plus transparente la gestion des fonds publiques
    et des ressources naturelles, de l'attribution de contrats gouvernementaux à 
    des firmes qui sont présentes au coctails de financement du PLQ, par exemple les membres de 
    l'oligopole de l'asphalte, qui bâtissent et entretiennent nos pounts et nos routes pour
    30% plus cher qu'ailleurs au Canada, pour une qualité moindre.

    Ce constat devrait donner un emploi du temps aux étudiants en grève : si l'instruction vous
    tient à coeur, la situation actuelle est un formidable laboratoire qui pourra vous
    instruire dans plusieurs disciplines :

    1) Mathématiques : Théorie des jeux (une discipline au nom trompeur, qui traite de stratégie d'un poit de vue des mathématiques).
       Vous verrez que les stratège libéraux sont loins d'être des imbéciles,
       et que les casseurs qui vous négligez d'expulser de vos manfis
       comment une action peut engendrer le contraire de ce que vous voulez (il est bien sur ici question des casseurs)
    2) Comptabilité : Vous voulez enlever à Charest l'humeur à faire des blagues,
       je vous propose un stage d'initiation à la comptabilité
    3) Philosophie : interessez vous à l'idéologie libertaire, attaquez Charest à sa droite,
       eh oui, autant son flanc gauche est blindé, son flanc droit est à découvert.
       Le libertarianisme est moins con que vous ne le croyez.


    Il existe une tactique politique pour ce genre  

    Le conflit étudiant : une bouée de sauvetage pour le PLQ ?
    
    Il y a trois mois les stratèges libéraux avaient devant eux un défi quasi insoluble : 
    Convaincre la population d'accorder un nouveau
    mandat à un parti étant lié à presque tous les scandals de corruption qui ont éclaté
    dans la dernière décénie. La quadrature du cercle.
    Le étudiants, mais surtout les casseurs parmi eux ont été une véritable bouée de sauvetage.
    Les Québécois s'attendaient à rendre leur verdict sur la "façon de faire" libérale.
    
    
    
    commet gagner une élection avec le nombre de scandals
    impiquant la famille libérale 
    
    
    avec autant de scandals
    de corruption ou les membres de la famille libérale élargie occupe toujours 
    
    alors que les liens entre la famille libérale et les réseaux 
    
     de 
    corruptions mettant en vedette des libéraux notoires,  
    
    que la lumière 
    
    Bien malin celui qui aurait pu  
    
    Note de science politique 101 aux étudiants : C

    La première étape de la guérisons est l'identification et la prise de conscience du malaise.
    Les Québécois ont franchi cette étape ces dernières années.

    Les réseaux de corruption, leurs accès aux plus hautes sphères gouvernementales,
    avaient pris très peu de place dans l'imaginaire collectif des Québécois.

    Cette myopie est d'autant plus surprenante étant donné l'ampleur des "subventions" accordés
    aux compagnies du club sélect des "contracteurs gouvernementaux" (infrastructures routières
    qui coûtent 30% plus cher qu'ailleurs au Canada, pour une qualité moindre, etc...).
    Cette réalité a fini par devenir trop visible pour être ignorée.
    
    J'aimerais bien croire que la commission Charboneau réeussisse à faire le ménage, mais je 
    crains que le principal 
    Un peu comme le cancer, la corruption est un mal qui évolue, on ne le combat pas avec un seul remède
    mais une multitude, on doit l'attaquer sur tout les fronts à la fois. 
    Pour la corruption il y a cependant une chose qui soit indispensable pour le vaincre : la transparence.
    Si il 
    Ceux qui comptent sur la commission Charboneau pour mettre un terme à la gangrène
    
    Il n'y a pas qu'un seul remède à ce problème
    
    
    
    Alors que le Québec est gangrèné par la corruption, que le gouvernement en place évite toutes
    mesures pouvant la corriger (), on conflit de pinottes prend tout l'espace médiatique.
    
    
    
    
    Bon nombre de Québécois tournerons la page
    
    Que ferait un membre du club sélect 

    Les multiples symptômes aurait du nous alerter depuis 

    L'ampleur des fonds public disparus, des "subventions" à des compagnies ayant comme principale
    expertise l'octroi de place à des conseils d'administrations à d'ex ministres, haut fonctionnaires,
    membres méritants du parti libéral. 
    
    Le Québécois moyen s'intéresse bien peu à 
    
    
    Politique 101, Marketing 101
    
    De nombreux commentateurs de la scène politique Québécoise ont fait l'écho de l'idée voulant 
    que la jeunesse revendicatrice ait l'apprentissage du "realpolitik".
    Ils ont réeussi à mettre au premier plan médiatique leur revendications.
    Je leur concède la note de passage sur ce sujet,
    Au chapitre de la stratégie politique, je leur donne un beau zéro.
    
    Le gouvernement Charest qui allait s'écraser, 
    
    
    les ailes plombé par les révélations
    de magouilles,
     ou le traffic d'influence
    la lumière

    
    
          
          
        
        <div class="tab-content">
           <div class="tab-pane active" id="tab1">
              Le mode de scrutin uninominal en vigueur au Canada et dans chacune des provices
              fait en sorte que le poids d'un vote soit substantielement réduit si il n'appuie pas un des deux grands partis,
              Des milliers, voir des millions d'électeurs sont ainsi réduits au silence
           </div>
           <div class="tab-pane" id="tab2">
              Un électeur devrait pouvoir appuyer autant de partis ou candidats dont il approuve le programme,
              ce que ne permet pas le mode de scrutin uninominal en vigueur. 
              Ceci a une conséquence grave : la division du vote.
      
              La division du vote fait en sorte qu'il soit plus payant (électoralement) pour un parti de satisfaire son électorat
              <b>au détriment</b> des autres électeurs, et ce même lorsque ceux ci sont majoritaires.
      
              À l'inverse, une idée qui est supportée par plus d'un parti est sujete à la division du vote, ce qui la rend 
              <i>électoralement non viable</i> même si elle est majoritairement partagée.
              C'est ainsi que s'explique le fait que de nombreuses idées, causes et solutions qui font consensus se retrouvent
              rarement dans le "radar" des partis politiques dominants.
      
              Heureusement ce phénomène pas une fatalité incurable de la démocratie, mais une
              défectuosité des modes de scrutin uninominaux. 
      
              Le vote par approbation n'a pas cette défectuosité, il permet à l'électeur de voter selon ses valeurs, 
              sans crainde que la division du vote fasse gagner un parti qu'il désapprouve.
           </div>

           <div class="tab-pane active" id="tab3">
           </div>
           
           <div class="tab-pane active" id="tab4">
           </div>
           
           <div class="tab-pane active" id="tab5">
           </div>
        </div>

          