@()

@import com.decision_hub._

<!DOCTYPE html>

<html>
   <head>
     <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")"    type="text/javascript"></script>
   </head>
  <body>
   <div id="fb-root"></div>
    <script>
    var declined = 0;
    
        
    @facebookClientSideAuth("300426153342097") {
      
        // listen for and handle auth.statusChange events
        FB.Event.subscribe('auth.statusChange', function(response) {
          if (response.authResponse) {
            // user has auth'd your app and is logged into Facebook
            alert('authorized : ...')
            FB.api('/me', function(me){
              if (me.name) {
                alert('name is : ...' + me.name)
              }
            })
          } else {
            if(declined == 1) {
              alert('NOT authorized : ...')
            }
          }
        });
        
      }
      
      function zazzz() {
        declined = 1
        FB.login();
      }
    </script>
    
    <a onClick='zazzz()'>ZZZZZ</a>


  </body>
</html>
