@()
<!DOCTYPE html>

  @js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}

  @css(p: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}

  @jsv(p: String, version: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}
   
  
<html>
  <head>

    <link rel="stylesheet" href="@routes.Assets.at("javascripts/jquery-custom/themes/ui-lightness/jquery-ui-1.8.18.custom.css")">

    @css("bootstrap.min.css")
    
    @im() = {http://placehold.it/50x50.png}
    
    @im1() = {<a class="btn btn-large btn-success" href="#"><i class="icon-ok icon-white"></i></a>}
    

    @thing1(i: Int)(title: Html)(brief: Html) = {
            <div class="row">
                <article class="span8 offset1">
                    <h3>@title</h3>
                    <p>@brief</p>
                </article>
                <div class="span3">
                    @im1
                </div>
            </div>
    }
    @thing0(i: Int)(title: Html)(brief: Html) = {
            <div class="row">
                <div class="span1 offset1">
                    @im1
                </div>
                <div class="span8">
                    <h3>@title</h3>
                    <p>@brief</p>
                </div>
            </div>    
    }
  </head>
  
  <body>
  
<div class="hero-unit">
</div>
 <div class="container">
      
      <div class="well"><h1>Pourquoi faut-il instaurer le vote par approbation ?</h1></div>

            @thing0(11) {Pour pouvoir voter honnêtement, et non stratégiquement} {

              À chaque élection, de nombreux électeurs ne votent pas pour l'option qui préfèrent,
              par crainte de contribuer à la victoire d'un parti dont il craignent la prise de pouvoir.
              Ils votent stratégiquement, c'est à dire pour un parti qu'ils considère être 
              "moins pire" que le parti qu'ils craignent, et que les sondages prédisent être 
              le plus susceptible de gagner.
              Le mode de scrutin uninominal en vigueur est une entrave à la démocratie, car il empêche des électeurs 
              d'exprimer leurs intentions réelles lors d'un vote. Avec le vote par approbation,
              l'électeur n'est jamais pénalisé en votant selon ses convictions.
            }
            @thing1(11) {Pour mettre fin aux "système à deux partis"} {
              Dans un systèmes à deux parti, les deux parti détenant le monopole du pouvoir,
              profitent d'un avantage par rapport aux autres partis qui du à une
              faiblesse du mode de scrutin uninominal. 
              Selon l'idéal démocratique, une élection devrait se jouer sur un seul plan : celui 
              du jugement de l'électorat.
              Le vote par approbation, en permettant à l'électeur de voter (d'approuver) plus d'un parti, 
              réduit fortement ce déséquilibre en faveur des "deux partis".
            }
            @thing0(11) {Pour que l'électeur puisse évaluer chaque choix de façon indépendante avec son vote} {
              Que pouvons nous exprimer sur un bulletin de vote uninominal ?
              Un tel bulletin de vote, signifie que l'électeur approuve à 100% le candidat coché, et rejete
              tous les autres de façon égale. Combien de fois ceci correspond à son évaluation ?
              Le vote est la seule opportunité qu'a un citoyen d'exprimer au pouvoir
              Posons la question autrement : cocher 

              Le système uninominal actuel ne permet à l'électeur de voter qu'un seul candidat. Ceci a 
              pour effet qu'une fois la majorité simple atteinte par un parti, celui ci est à l'abri
              du jugement de tout les autres électeurs.
              Ce n'est pas un hazard si beaucoup de parti
              politiques ignore complètement les électeurs n'ayant pas voté pour lui, même quand 
              ceux ci constituent la majorité.
            }
            @thing1(11) {Pour que les partis politiques soient redevable à l'ensemble des électeurs et non uniquement à leur bases partisanes} {
              Une élection est gagné par une majorité simple, avec la <a>division du vote</a> il arrive souvent qu'une majorité
              simple soit une minorité. Un parti ayant l'appui d'une majorité simple, cherchera à tout prix à 
              satisfaire celle ci, même au détriment du reste de l'électorat.
              Il devient alors possible qu'une minorité de l'électorat, impose sa volonté à la majorité.
              <br>
              Le vote par approbation change la donne, la possibilité qu'a un l'électeur d'évaluer chaque parti sur son
              bulletin de vote fait en sorte que chaque parti soit évalué par chaque électeur, une minorité ne peut 
              alors imposer sa volonté à une majorité.
            }
            @thing0(11) {Parce que le déficit démocratique actuel ne fera que s'accroître s'il n'est pas corrigé} {
              Dans une démocratie, à chaque fois qu'on accorde un pouvoir à un individu ou un groupe,
              Celui ci peut être tenté de consolider ce pouvoir par la main mise sur le pouvoir judiciaire
              ou des moyens encore pire. Le vote par approbation permet de remettre l'électorat au centre 
              de l'échiquier politique, de 
            }
    </div>

<!--
                L'issue d'une élection est davantage déterminé par l'approbation de l'électorat
                que par les maneuvres électoralistes
-->

    </div>
    @js("jquery-1.7.1.min.js")
    @js("bootstrap.js")
  </body>
  
<html>
