@()
<!DOCTYPE html>

  @js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}
  @css(p: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}

<html>
  <head>
    @css("bootstrap.css")
    @js("bootstrap.js")
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">EquiVote</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="./index.html">Qu'est ce que le vote par approbation ?</a>
              </li>
              <li class="">
                <a href="./examples.html">À propos</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    
<div class="hero-unit">
  <h1>Heading</h1>
  <p>Tagline</p>
  <p>
    <a class="btn btn-primary btn-large">
      Learn more
    </a>
  </p>
</div>
    
      <h1>EquiVote.ca</h1>
    
      <h1>Un électeur</h1>

      <h2>Exprimer honnêtement ses préfférences sans risquer de perdre son vote</h2>

        Le mode de scrutin uninominal en vigueur au Canada et dans chacune des provices
        fait en sorte que le poids d'un vote soit substantielement réduit si il n'appuie pas un des deux grands partis,
        Des milliers, voir des millions d'électeurs sont ainsi réduits au silence
        

      <h2>Ne pas perpétuer un système à deux partis</h2>

      <h2>Exprimer une évaluation de <b>chaque</b> candidat, et non un seul.</h2>

        Un électeur devrait pouvoir appuyer autant de partis ou candidats dont il approuve le programme,
        ce que ne permet pas le mode de scrutin uninominal en vigueur. 
        Ceci a une conséquence grave : la division du vote.

        La division du vote fait en sorte qu'il soit plus payant (électoralement) pour un parti de satisfaire son électorat
        <b>au détriment</b> des autres électeurs, et ce même lorsque ceux ci sont majoritaires.

        À l'inverse, une idée qui est supportée par plus d'un parti est sujete à la division du vote, ce qui la rend 
        <i>électoralement non viable</i> même si elle est majoritairement partagée.
        C'est ainsi que s'explique le fait que de nombreuses idées, causes et solutions qui font consensus se retrouvent
        rarement dans le "radar" des partis politiques dominants.

        Heureusement ce phénomène pas une fatalité incurable de la démocratie, mais une
        défectuosité des modes de scrutin uninominaux. 
        
        Le vote par approbation n'a pas cette défectuosité, il permet à l'électeur de voter selon ses valeurs, 
        sans crainde que la division du vote fasse gagner un parti qu'il désapprouve.

        <ul>
          <li> La division des votes</li>
        </ul>
          
        <ul>
          <li>Rendre plus </li>
        </ul>
      <h2>Il devrait être plus rentable électoralement de mettre de l'avant des idées qui font consensus que 
          d'employer des stratégies électoralistes</h2>
          
          
          
          Problèmes : 
          
            - division du vote 
            - first pas the post
            - oligopole de deux partis
          
          Is AV a first pas the post system ? 
          
          Lets first to determin what we mean and what is undesirable about FPTP.
          
          - One a party achieves a simple majority (what we call being past the post), it 
          I order to a achieving a simple majority, there isn't a big electoral cost to being hated, despised
          voters that are not among this simple majority.
          
          gets past the post ()
          
          
          
    </div>
  </body>
<html>
