@()
<!DOCTYPE html>

  @js(p: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}

  @css(p: String) = {<link  href='@routes.Assets.at("stylesheets/" + p)' rel="stylesheet"/>}

  @jsv(p: String, version: String) = {<script src='@routes.Assets.at("javascripts/" + p)'  type="text/javascript"></script>}
   
  
<html>
  <head>

    <link rel="stylesheet" href="@routes.Assets.at("javascripts/jquery-custom/themes/ui-lightness/jquery-ui-1.8.18.custom.css")">

    @css("bootstrap.min.css")
    
    @im() = {http://placehold.it/50x50.png}
    
    @im1() = {<a class="btn btn-large btn-success" href="#"><i class="icon-ok icon-white"></i></a>}
    

    @thing1(i: Int)(title: Html)(brief: Html) = {
            <div class="row">
                <article class="span8 offset1">
                    <h3>@title</h3>
                    <p>@brief</p>
                </article>
                <div class="span3">
                    @im1
                </div>
            </div>
    }
    @thing0(i: Int)(title: Html)(brief: Html) = {
            <div class="row">
                <div class="span1 offset1">
                    @im1
                </div>
                <div class="span8">
                    <h3>@title</h3>
                    <p>@brief</p>
                </div>
            </div>    
    }
  </head>
  
  <body>
  
<div class="hero-unit">
</div>
 <div class="container">
      
      <div class="well"><h1>Pourquoi faut-il instaurer le vote par approbation ?</h1></div>

            @thing0(11) {Pour pouvoir voter honnêtement, et non stratégiquement} {

              À chaque élection, de nombreux électeurs ne votent pas pour leur candidat préféré, 
              par crainte de contribuer à la victoire d'un parti dont il craignent la prise de pouvoir.
              - le seul fait qu'un parti soit perçu comme un gagnant potentiel, lui permet de "capter" les votes d'électeurs
                ne lui étant pas nécéssairement favorable. La phrase : vous n'aimez pas le candidat X ? 
                Votez pour moi, car je suis votre seul espoir de ne pas le voir prendre pouvoir.
              Ce genre de discours n'est pas un programme électoral, pourtant beaucoup de politiciens
              se font élire avec cette stratégie.
            }
            @thing1(11) {Pour mettre fin aux "système à deux partis"} {

              Un système à parti unique peut difficilement être qualifié de démocratique, 
              un système ou le pouvoir est détenu par deux parti présente en général
              de nombreuse similitudes, lorsqu'un de ces parti est chassé du pouvoir, celui
              ci est assuré de le reprendre.
            }
            @thing0(11) {Pour que l'électeur puisse évaluer chaque choix de façon indépendante avec son vote} {
              Que pouvons nous exprimer sur un bulletin de vote uninominal (celui en vigueur depuis 300 ans ...pop over) ?
              Un tel bulletin de vote, signifie que l'électeur approuve à 100% le candidat coché, et rejete
              tous les autres, de façon égale, combien de fois ceci correspond à son évaluation ?
              Le vote est la seule opportunité qu'a un citoyen d'exprimer au pouvoir
              Posons la question autrement : cocher 

              Le système uninominal actuel ne permet à l'électeur de voter qu'un seul candidat. Ceci a 
              pour effet qu'une fois la majorité simple atteinte par un parti, celui ci est à l'abri
              du jugement de tout les autres électeurs.
              Ce n'est pas un hazard si beaucoup de parti
              politiques ignore complètement les électeurs n'ayant pas voté pour lui, même quand 
              ceux ci constituent la majorité.
            }
            @thing1(11) {Pour que les partis politiques soient redevable à l'ensemble des électeurs et non uniquement à leur bases partisanes} {
              Une élection est gagné par une majorité simple, avec la <a>division du vote</a> il arrive souvent qu'une majorité
              simple soit une minorité. Un parti ayant l'appui d'une majorité simple, peut gouverner uniquement dans le but 
              de satisfaire pour celle ci, même au détriment du reste de l'électorat <i>sans être pénalisé</i>.
              Il devient alors possible qu'une minorité de l'électorat, impose sa volonté à la majorité.
              <br>
              Le vote par approbation change la donne, la possibilité qu'a un l'électeur d'évaluer chaque parti sur son
              bulletin de vote fait en sorte qu'il devienne couteux électo 
            }
            @thing0(11) {Parce que le déficit démocratique actuel ne fera que s'accroître s'il n'est pas corrigé} {
              Dans une démocratie, à chaque fois qu'on accorde un pouvoir à un individu ou un groupe,
              il est rare qu'il ne cherche pas à l'accroître et le faire durer le plus longtemps.
              Un mode de scrutin uninominal accorde un pouvoir quasi permanent à deux partis. 
              
              Le groupe constituant les têtes dirigeantes est en général suffisament petit pour qu'il soit facile
            }
    </div>

<!--
                L'issue d'une élection est davantage déterminé par l'approbation de l'électorat
                que par les maneuvres électoralistes
-->

    </div>
    @js("jquery-1.7.1.min.js")
    @js("bootstrap.js")
  </body>
  
<html>
