@(decision: Decision, appReq: com.decision_hub.FBAppRequestInfo, authorizeAppUrl: String)


<div id="authorizeAppModalDialog" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal" >&times;</a>
    <h2>Welcome to Decision Hub</h2>
  </div>

  <div class="modal-body">

    <h2>@texts.whatIsIt()</h2>

    <h3>
      Hi, you have been invited by <img src='@appReq.senderIconUri'/><a>@appReq.from.name</a> to vote on @decision.title
    </h3>

  </div>
  
  <div class="modal-footer">
    <a class='btn btn-primary' data-dismiss="modal" onClick='acceptFunc()'>Accept</a>
    <a class='btn' data-dismiss="modal" >Decline</a>
    <a class='btn btn-primary' data-dismiss="modal" onClick='viewAppReqs()'>Zaz</a>
  </div>
</div>

<script>

 function acceptFunc() {
   window.location.href = "/externalLogin/facebook/decisionSummaries"
    //window.location.href = '@authorizeAppUrl'
   }

   $('#authorizeAppModalDialog').modal('show')
   
   function viewAppReqs() {

    FB.api("/me/apprequests", function(r) {
      alert(JSON.stringify(r))
    })
   }
</script>
