@(d: Decision, votes: Seq[CastedVote])

<script>

  function setVoteValue(nodeId, score) {
    $("#" + nodeId).val(score)
  }
  
  function submitVote() {
    $.post("/vote/@d.id", $("#__voteForm").serialize());
    //refresh :
    decisionDetails(@d.id)
  }
</script>

<div class="modal-header">
  <a class="close" data-dismiss="modal" >&times;</a>
  <h2>Your vote : @d.title</h2>
</div>

<div class="modal-body">


@for((i,label) <- d.alternativeLabels) {
  <h4>@i : @label</h4>
}


  <form id='__voteForm' action=''>
    <table>
      <tbody>

        @for(v <- votes) {
          <tr>
            <td><h4>@v.alternative.title</h4></td>
            <td>
              <input name='__scoreOf-@v.alternative.id' id='__scoreOf-@v.alternative.id' type='hidden' value='@v.score'/>
              <div id='voting-form' class="btn-group" data-toggle="buttons-radio">
              @for((i,label) <- d.alternativeLabels) {
                  <a href='#' class='btn @(if(i == v.score) "active" else "")' onClick='setVoteValue("__scoreOf-@v.alternative.id",@i)'>@i</a>
              }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </form>
</div>

<div class="modal-footer">
  <a class='btn  btn-primary' data-dismiss="modal" onClick='submitVote()'>Submit Vote</a>
  <a class='btn' data-dismiss="modal" >Cancel</a>
</div>
