@(decisionId: String)
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @css("bootstrap.css")
    @css("ballot.css")

    @handlebars.templates()

  </head>

  <body>

    @javaScriptLibs()

    @js("handlebarsHelpers.js")

    @js("ballotView.js")
    @js("participantsTab.js")
    @js("initFacebook.js")

    @js("DecisionWidget.js")

    <script>
      var w = new DecisionWidget('@decisionId');
      $('body').append(w.render().el)
    </script>
  </body>
</html>
